/* styling for the header */

header {
  height: calc(100vh - 120px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ebe232;
  background-image: url("https://www.transparenttextures.com/patterns/light-honeycomb-dark.png");
}

h2 {
  color: #4056A1;
}