/* styling for the header */

header.top-header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ebe232;
  background-image: url("https://www.transparenttextures.com/patterns/light-honeycomb-dark.png");
  padding-top: 150px;
}

h2 {
  color: #4056A1;
}