/* Navigation Bar: REQUIREMENTS
    is fixed to the top
    has padding on both sides
    contains Compose button */

/* styling for the nav element */

nav {
  position: fixed;
  top: 0px;
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: Bungee;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1.5em;
}

.newTweet {
  font-family: "Source Sans Pro";
  color: #FFFFFF;
  background-color: #4056A1;
}

.fas {
  display: flex;
  justify-content: center;
  height: 75px;
  color: rgb(255, 0, 0);
}

.fas:hover {
  cursor: pointer;
  color: rgb(255, 0, 0);
}
