.new-tweet {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  word-wrap: break-word;
  white-space: nowrap;
  padding-top: 40px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

hr {
  height: 5px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
  border: none;
  background-color: #000000;
}

.button-counter {
  display: flex;
  justify-content: space-between;
}

.tweet-button {
  font-family: Bungee;
  color: #ffffff;
  background-color: #4056a1;
}

.counter {
  font-family: Bungee;
}

textarea {
  width: 100%;
  display: flex;
  justify-content: stretch;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  background: transparent;
  outline: none;
}
