/* styling for the new tweet form */
.new-tweet {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  word-wrap: break-word;
  white-space: nowrap;
}

/* styling for the form */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

hr {
  height: 5px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
  border: none;
  background-color: #000000;
}

/* styling for the button-counter div */
.button-counter {
  display: flex;
  justify-content: space-between;
}

/* styling for the new tweet button */
.tweet-button {
  font-family: Bungee;
  color: #FFFFFF;
  background-color: #4056A1;
}

/* styling for the counter */
.counter {
  font-family: Bungee;
}

/* styling for the new tweet text area */
textarea {
  width: 100%;
  display: flex;
  justify-content: stretch;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  background: transparent;
  outline: none;
}